# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [15]:
CREATE TABLE JunkDB_STL_Sept2022.kileym.planned_makes (
    task VARCHAR(50) NOT NULL,
    priority VARCHAR(3) NOT NULL,
    end_date DATETIME
)

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'planned_makes' in the database.

Add three rows to your table that are your planned makes.

In [12]:
INSERT INTO JunkDB_STL_Sept2022.kileym.planned_makes
VALUES 
    ('sql-part5_assignment', '1', '2023-01-04 17:30:00'),
    ('resume_prep', '2', '2023-01-04 17:30:00'),
    ('project:9to5', '3', '2023-01-18 17:30:00');

In [13]:
SELECT TOP 3 *
FROM JunkDB_STL_Sept2022.kileym.planned_makes

task,priority,end_date
sql-part5_assignment,1,2023-01-04 17:30:00.000
resume_prep,2,2023-01-04 17:30:00.000
project:9to5,3,2023-01-18 17:30:00.000

## Update a Row

Change different values in one of your three rows.

In [29]:
UPDATE JunkDB_STL_Sept2022.kileym.planned_makes
SET priority = '1'
WHERE task = 'project:9to5';

In [30]:
SELECT TOP 3 *
FROM JunkDB_STL_Sept2022.kileym.planned_makes

task,priority,end_date
sql-part5_assignment,1,2023-01-04 17:30:00.000
resume_prep,2,2023-01-04 17:30:00.000
project:9to5,1,2023-01-18 17:30:00.000

## Delete a Row

Delete one of the rows from your table.

In [31]:
DELETE FROM JunkDB_STL_Sept2022.kileym.planned_makes
WHERE task = 'project:9to5';

In [32]:
SELECT TOP 3 *
FROM JunkDB_STL_Sept2022.kileym.planned_makes

task,priority,end_date
sql-part5_assignment,1,2023-01-04 17:30:00.000
resume_prep,2,2023-01-04 17:30:00.000

## Drop the Table

While this has been fun, it is time to drop the table!

In [35]:
DROP TABLE JunkDB_STL_Sept2022.kileym.planned_makes;

In [36]:
SELECT TOP 3 *
FROM JunkDB_STL_Sept2022.kileym.planned_makes

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'JunkDB_STL_Sept2022.kileym.planned_makes'.